body {
  /* background: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-position: 100px 100px;
  background-size: 100%;
  background-attachment: fixed; */

}

/* .co-1 {
  width: 100vw;
} */

/* .bg-man {
  width: 512px; 
  height: 512px;
  background: url('../images/css-sprites') -10px -10px;
} */

/* .coffee {
  clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
  ;
} */

/* .coffee {
  width: 100vw;
  filter: hue-rotate(90deg);
} */